<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../icon/css/font-awesome.min.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-md-push-2 table-reponsive">
              <h2 class="bg-danger text-center">Bang sua video</h2>
                <form class="" action="../edit/<%= data.id%>" method="post" role="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="cols-sm-2 control-label">Tieu de </label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="tieude" id="form-title" placeholder="tieu de cua video" value="<%= data.tieude %>"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="cols-sm-2 control-label">Mo ta</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <textarea type="text" class="form-control" name="mota" id="mota" rows="5" ><%= data.mota %></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="cols-sm-2 control-label">Ma video</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="keys" id="keys" value="<%= data.keys %>" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="cols-sm-2 control-label">anh cu</label>
                        <div class="cols-sm-6">
                            <div class="input-group">
                              <img width="120px" src="../../upload/<%= data.imge %>" alt="">
                            </div>
                        </div>
                          <label  class="cols-sm-2 control-label btn btn-file">anh moi</label>
                        <div class="cols-sm-6">
                            <div class="input-group">
                                <input type="file" name="uploadfile" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <button type="submit"  class="btn btn-primary">Submit</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

</body>

</html>
